.card {
  width: 80%;
  height: auto;
  padding: 5px; /* Adjust padding to make the cards even smaller */
  /* Adjust margin to create more vertical space and less horizontal space between the cards */
}

.card h5 {
  font-size: 1rem; /* Adjust heading size to fit smaller cards */
  margin-bottom: 5px; /* Adjust margin for heading */
}

.card p-chart {
  width: 100%;
  height: 60%; /* Adjust chart height to fit smaller cards */
}
