<div class="recent-rules ">
<!--  <span class="p-input-icon-left m-3">-->
<!--    <i class="pi pi-search"></i>-->
<!--    <input type="text" pInputText [(ngModel)]="searchQuery" />-->
<!--    <button type="button" (click)="search()" class="m-3">Search</button>-->
<!--</span>-->
  <table >
    <thead>
    <tr>
      <th>Rule name</th>
      <th>Rule description</th>
      <th>Date created</th>
      <th>Status</th>
      <th>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rule of rules" [ngStyle]="{'background': rule.enabled ? 'white' : 'rgba(250, 229, 229, 0.89)'}">
      <td>{{ rule.name }}</td>
      <td>{{ rule.description }}</td>
      <td>{{ rule.createDate | date: 'dd/MM/yyyy' }}</td>
      <td [ngStyle]="{'color': rule.enabled ? 'green' : 'red'}">
        {{ rule.enabled ? 'Enabled' : 'Disabled' }}
      </td>
      <td class="primary details" *ngIf="rule.enabled">
          <button pButton type="button" icon="pi pi-pencil" style="margin-right:10px" class="p-button-warning" (click)="updateRule(rule)"></button>
          <button pButton type="button" icon="pi pi-lock" style="margin-right:10px" class="p-button-danger" (click)="disableRule(rule)"></button>
         <button pButton type="button" icon="pi pi-history" style="margin-right:-40px" class="p-button-info" (click)="openRuleHistory(rule)"></button>
      </td>
      <td class="primary details" *ngIf="!rule.enabled">
        <div>
          <button pButton type="button" icon="pi pi-history" class=" hist-button" (click)="openRuleHistory(rule)"> &nbsp;History</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>

</div>

<p-toast></p-toast>
