<div class="container add-rule pb-3">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="ruleForm" (ngSubmit)="onSubmit()">
                <div class="row gx-5">
                    <div class="col-xxl-8 mb-xxl-0">
                        <div class="bg-secondary-soft px-4 mt-3 rounded">
                            <div class="row g-3 comp-dis">
                                <div class="col-md-6">
                                    <label class="form-label">Rule name *</label>
                                    <input type="text" class="form-control" formControlName="name" placeholder="">
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Rule category *</label>
                                    <p-dropdown [options]="categories" [(ngModel)]="selectedCategory" [editable]="true" formControlName="category">
                                        <ng-template let-item pTemplate="item">
                                            {{item}}
                                        </ng-template>
                                    </p-dropdown>                                </div>
                                <div class="col-md-6 desc-dis">
                                    <label class="form-label">Rule description *</label>
                                    <textarea class="form-control" formControlName="description" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 sel-config" formArrayName="attributeDtos">
                                <div *ngFor="let attribute of getAttributeControls(); let i = index" class="attr-config">
                                    <div [formGroupName]="i" class="info-control mt-4">
                                        <div class="col-md-6">
                                            <label class="form-label">Attribute name *</label>
                                            <p-dropdown [options]="attributes" [(ngModel)]="selectedAttributes[i]" formControlName="name" [editable]="true">
                                                <ng-template let-item pTemplate="item">
                                                    {{item}}
                                                </ng-template>
                                            </p-dropdown>
                                        </div>
                                        <div>
                                            <label class="form-label">Attribute percentage *</label>
                                            <input type="number" class="form-control inp-control" formControlName="percentage" placeholder="">
                                        </div>
                                        <div>
                                            <label class="form-label">Attribute value *</label>
                                            <input type="number" class="form-control inp-control" formControlName="value" placeholder="" >
                                        </div>
                                        <div class=" mt-4">
                                            <button *ngIf="i === getAttributeControls().length - 1" (click)="addAttribute()" class="btn btn-success btn-config mt-2">
                                                <i class="pi pi-fw pi-plus"></i>Add attribute
                                            </button>
                                            <button *ngIf="i !== getAttributeControls().length - 1" (click)="removeAttribute(i)" class="btn btn-danger btn-config mt-2">
                                                <i class="pi pi-fw pi-times-circle"></i>Delete attribute
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap-3 d-md-flex justify-content-md-end text-center">
                    <button type="submit" class="btn save-conf">Save rule</button>
                </div>
            </form>
        </div>
    </div>
</div>
<p-toast></p-toast>
